body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #061a7b, #8091dd);
}

.container {
   .container {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 30px;
    border-radius: 12px;
    width: 80%;          
    max-width: 600px;    
    text-align: center;
    color: white;
}


h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="number"], input[type="checkbox"] {
    margin: 5px 0;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #4CAF50;
    color: rgb(167, 49, 49);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #222;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th {
    background-color: #4CAF50;
    color: white;
}
